#nav_bar{
  padding: 0 0;
  margin:0 auto 0 auto;
  border-width: 10px;
  width: 264px;
  border-color:red;
}
#nav_bar ul li{
  text-align:center;
  text-decoration: none;
  margin:0 2px;
  display:inline-block;
  border: 2px solid blue;
  width: 80px;
  height: 20px;
}
li:hover{
  background-color: grey;
}
#nav_bar ul{
  display: flex;
  margin: 0 0;
  border-width: 0 0;
  padding: 0 0;
  list-style: none;
}


#empty_block{
  height: 120px;
}
#form{
  margin: 0 auto;
  width: 382px;
}
#text_form{
  height: 47px;
  border-width: 1px;
  margin: 0 0 0 0;
  width :300px;
  float:left;
  font-size:45px;

}
#search_button{
  height: 50px;
  border-width: 1px;
  margin: 0 0 0 0;
  width: 80px;
}
#search_button::after{clear:both;}
#google_image{
  width:550px;
  height:185px;
  margin:0 auto;
  border: 1px solid red;
}
#footer{
  width: 208px;
  margin: 0 auto 0 auto;
  float: bottom;
}
#footer ul {
  list-style:none;
  display: flex;
  margin: 0 0;
  padding: 0 0;
  border: 1px solid black;
}
#footer ul li{
  width: 100px;
  border: 2px dotted green;
  margin: 0 0;
}
